/* Font import */

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

:root {
  font-family: Poppins11, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;

  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --error: hsl(359, 100%, 68%);
}
@media (max-width: 610px) {
  :root {
    font-size: 25px;
  }
}

@media (max-width: 470px) {
  :root {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  :root {
    font-size: 16px;
  }
}

body {
  background-color: var(--off-white);
}

p {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  margin: 0;
}

p span {
  color: var(--purple);
}

label {
  font-family: inherit;
  font-size: 0.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--smokey-grey);
  margin-bottom: 0.2rem;
}

input {
  height: 1.2rem;
  width: 3rem;
  padding: 0.3rem 0.6rem;
  border-style: solid;
  border-color: var(--light-grey);
  border-radius: 10px;
  border-width: 1px;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
}

input:focus {
  outline-color: var(--purple);
  outline-width: thin;
}

h2 {
  display: flex;
  justify-content: center;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20rem;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 1.6rem;
  border-radius: 0.6rem 0.6rem 4rem 0.6rem;
}

@media (max-width: 768px) {
  main {
    width: 80%;
  }
}

@media (max-width: 375px) {
  main {
    padding: 1rem;
  }
}

.app-form {
  display: flex;
}

.app-form .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.separator {
  display: flex;
  align-items: center;
  position: relative;
  height: 3rem;
}

.separator .line {
  background-color: var(--light-grey);
  height: 1px;
  width: 100%;
}

.btn {
  position: absolute;
  right: 0;
  background-color: var(--purple);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
}

@media (max-width: 425px) {
  .btn {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
}

.btn:hover {
  background-color: black;
}

.btn:disabled {
  background-color: var(--light-grey);
}

.btn img {
  width: 1.5rem;
}

.error-message {
  font-size: 0.4rem;
  margin-top: 0.3rem;
  color: var(--error);
}

.error-input {
  border-color: var(--error);
}

.error-label {
  color: var(--error);
}
